@import "../../styles.styl"

:host
  display inline-block
  user-select none
  background-color $accent-color
  color white
  padding 0.75em 1.25em
  border-radius 25px
  border none
  font-size 18px
  font-family $font-family
  cursor pointer
  min-width 96px
  margin-top 1em
  outline none
  transition all .2s
  text-transform uppercase
  font-weight 600
  box-shadow 0 3px 6px alpha(darken($accent-color, 25%), 25%)
  &:hover:not([disabled])
    background-color darken($accent-color, 5%)
    transform translateY(-1px)
  &:active:not([disabled])
    transform translateY(1px) !important
  &:disabled
    opacity 0.6
  &.btn-block
    display block
  i
    font-size 0.9em
  span + i
    margin-left 2px
  i + span
    margin-left 2px
  .loader
    display inline-block
    margin-left 2px
    position relative
    top -1px
    color white
    margin-top 0
    margin-bottom 0
