@import "../../styles.styl"

:host
  margin 2rem 0
  display block
  > .container
    box-shadow 0 0 10px alpha($accent-color, 20%)
    border-radius 10px
    overflow hidden
    background white
  .recipe-image
    background-size cover
    width 100%
    min-height 350px
    position relative
    &:before
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background-image linear-gradient(to bottom right, rgba(255, 46, 94, 0.1), rgba(255, 126, 46, 0.8))
      opacity 1
      z-index 1
    .recipe-title
      z-index 10
      color white
      position absolute
      bottom 2rem
      left 2rem
      right 2rem
      h2
        font-family $alt-font-family
        text-shadow 1px 1px 10px alpha(darken($accent-color, 50%), 60%)
.recipe-body
    padding 2rem
    .recipe-body-top
      display flex
      flex-direction row
      justify-content space-between
    .recipe-rating
      color $accent-color
      i
        margin-left 0.3em
