@import "../node_modules/nib/index.styl"
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

global-reset()

$font-family = 'Open Sans', sans-serif
$accent-color = #0080C1

body, html
  font-size 18px
  font-family $font-family
  line-height 1.3em
  color #333

.container
  margin 0 auto
  max-width 800px
h1, h2, h3
  margin-bottom 0.1em
  line-height 1.5em
h1
  font-size 3rem
h2
  font-size 2.25rem
h3
  font-size 1.5rem
p
  margin-bottom 0.5em

button
  padding 0.5rem
