@import "../../styles.styl"

:host
  text-align center
  display block
  max-width 100%
  overflow hidden
  .container
    padding 2rem 0
  .background-curve
    margin 0 -400px
    padding 0 400px
    background white //linear-gradient(to top, #60c1f2 0%, #0080C1 100%)
    border-bottom-left-radius 100%
    border-bottom-right-radius 100%
    box-shadow 0 0 10px alpha($accent-color, 20%)
    overflow hidden
