:host
  text-align center
  display block
  max-width 100%
  overflow hidden
  .container
    color #fff
    padding 3rem 0
  .background-curve
    margin 0 -400px
    padding 0 400px
    background linear-gradient(to top, #60c1f2 0%, #0080C1 100%)
    border-bottom-left-radius 100%
    border-bottom-right-radius 100%
    overflow hidden
